__pycache__
hash
.env
.env.llm
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

ui/node_modules
# ui/src/utils/encryptUtils.ts
db
dist-ssr
*.local
backup
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.db
*.sw?
.cache
# dev
ui/yarn.lock
# --- woodenriver debug/mac additions (2026-04-20) ---
*.backup-*
*.backup
*.pre-*
*.cpgz
